html {  position: relative;  min-height: 100%;}
body { margin-bottom: 330px;}
.bg-night{background-color: #232323;}
.footer {  position: absolute;  bottom: 0;  width: 100%; height: 250px; background-color: #f5f5f5;}
button:focus{box-shadow: none!important;}
.yeswrap {  white-space: normal!important;}
.break-word{word-wrap: break-word;}
.nav > li {  float: left;  position: relative;}
.tab1 .active::after {  position: absolute;  bottom: 0;  left: 0;  width: 100%;  content: " ";  border-bottom: 5px solid #5BC0EB;}
.background-white{background-color: #fff!important;}
.background-black{background-color: #000!important;}
.background-lightgrey{background-color: #f7f7f7!important;}
.btn-facebook{background-color:#4267b2; border-color:#4267b2;}
.btn-facebook:hover{background-color:#3b5998; border-color:#3b5998;}
.text-black{color:#000!important;}
.text-dark{color:#212529!important;}
.text-no-decoration{text-decoration: none!important;}
a:hover .text-hover-underline{text-decoration: underline!important;}
.text-middle-light{color:#999!important;}
.text-light{color:#eee!important;}
.hover-white:hover{color:#fff!important;}
.form-control{height: calc(2.25rem + 4px)!important;}
.position-relative{position: relative;}
.addban:hover {color:#d9534f!important;background-color: #ececec;}, .fa{color:#d9534f!important;}
.addseen:hover {color:#5cb85c!important;background-color: #ececec;}, .fa{color:#5cb85c!important;}
.addlater:hover {color:#f0ad4e!important;background-color: #ececec;}, .fa{color:#f0ad4e!important;}
.addfacebook:hover {color:#4267b2!important;background-color: #ececec;}, .fa{color:#4267b2!important;}
.btn-vot{background: #fff!important;color: #000!important;}
.divfooter{position: absolute;bottom: .5rem!important;width: 100%;}
.votecard .card-img{z-index: 5;}
.faded{opacity: 0!important;z-index: 0!important;  transition: opacity 0.5s ease-in, z-index 3s!important;}
.faderdiv{opacity: 1;  transition: opacity 0.5s ease-in;z-index: 7;}
.votecard .votediv .btn, .border-circle{border-radius: 50px;}
.btn-verydark{background: #232323;border-color:#232323;}
.btn-verydark:hover{background: #111;border-color:#111;}
.votecard .votediv .btn-warning{color: #fff;}
.votecard.modal-dialog{    max-height: 600px!important;    max-width: 400px!important;}
.coverpic{object-fit: cover;width: 100%; max-height: 300px; min-height: 150px;filter: brightness(50%);}
.coveroverlayersmall{position: absolute;    bottom: 1rem;    width: 100%;}
.coveroverlayermedium{position: absolute;    bottom: 1rem;    left: 2rem;}
.right-top{position: absolute;    right: 0;   top: 0;}
.profilepicsmall{object-fit: cover;    width: 100px;    height: 100px; border-radius: 100px;}
.profilepicmedium{object-fit: cover;    width: 200px;    height: 200px; border-radius: 100px;}
.list-thumbnail{object-fit: cover;    width: 40px;    height: 40px;}
.trailercover{object-fit: cover;width: 100%; max-height: 500px; min-height: 150px;filter: brightness(50%);}
.listtrailercover{object-fit: cover;width: 100%; max-height: 200px; min-height: 150px;filter: brightness(50%);}
.custom-over-layer{position: absolute;width: 100%;top:0;}
.custom-over-layer-bottom{position: absolute;width: 100%;bottom:0;}
.moviecard .custom-over-layer, .moviecard .custom-over-layer-bottom{display: none!important;}
.trailer{max-height: 500px;}
.fa22 .fa{font-size: 22px!important;}
.fa40 .fa{font-size: 40px!important;}
.lead-small{font-size: 1rem;}
.moviecard-rating{position: absolute;bottom: 0;right: 0;}
.moviecard-percent{position: absolute;bottom: 30px;right: 0;}
.moviecard a:hover .moviecard-percent, .moviecard a:hover  .moviecard-rating{display: none!important;}
.moviecard a:hover .custom-over-layer, .moviecard a:hover .custom-over-layer-bottom{display:flex!important;}
.moviecard a:hover .darken-cover{filter: brightness(30%);}
.loginbuttonfa{position: absolute;    left: 28px;    top: 10px;}
.moviecard_5{    color: #fff;    background-color: #28a745;    border-color: #28a745;}
.moviecard_4{    color: #fff;    background-color: #17a2b8;    border-color: #17a2b8;}
.moviecard_3{    color: #fff;    background-color: #868e96;    border-color: #868e96;}
.moviecard_2{    color: #fff;    background-color: #ffc107;    border-color: #ffc107;}
.moviecard_1{    color: #fff;    background-color: #dc3545;    border-color: #dc3545;}
.bordered_button{border-color:#fff;}
.tmdblogo{height: 30px;}
.underlined{border-bottom: 5px solid #5BC0EB;}
.z-1041{z-index: 1041;}
.tooltip-x{font-size:1rem;}
.card-footer .btn{border-radius: 0;}
@media (hover: none) {
  .btn-danger:hover {    color: #fff;    background-color: #dc3545;}
  .btn-warning:hover {    color: #fff;    background-color: #ffc107;}
  .btn-secondary:hover {    color: #fff;    background-color: #868e96;}
  .badge-light:hover {    color: #111;    background-color: #f8f9fa!important;}
  .btn-info:hover {    color: #fff;    background-color: #17a2b8;}
  .btn-success:hover {    color: #fff;    background-color: #28a745;}
}
@media (max-width: 767px) {
	.nowrap {  white-space: normal;}
	.left_0-right-0{left: 0;right: 0;}
	.popover{	display:none!important; }
	.card-group {
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.review{column-count:2;}
	.nowrap {  white-space: nowrap;}
	.field-label-responsive {    padding-top: .5rem;    text-align: right;  }
}
@media (min-width: 992px) and (max-width: 1199px) {
	.review{column-count:2;}
	.nowrap {  white-space: nowrap;}
	.field-label-responsive {    padding-top: .5rem;    text-align: right;  }
}
@media (min-width: 1199px) {
	.review{column-count:3;}
	.nowrap {  white-space: nowrap;}
	.field-label-responsive {    padding-top: .5rem;    text-align: right;  }
}
body.drk{background: #111;color: #dcdcdc;}
body.drk .background-lightgrey{background: #242424!important;}
body.drk .background-white{background: #111!important;}
body.drk input, body.drk select{background: #000!important;    border-color: #000!important;color:#dcdcdc!important;}
body.drk .input-group-text{background: #222!important;    border-color: #000!important;}
body.drk .card{background: #000!important;    border-color: #000!important; color:#dcdcdc;}
body.drk .card-footer{background: #242424!important;border-color: #000;}
body.drk .text-muted{color: #888!important;}
body.drk .nav-link.text-muted{color: #dcdcdc!important;}
body.drk .btn-outline-secondary{color: #888;}
body.drk .btn-outline-secondary:hover{background: #000;color:#dcdcdc;}
body.drk .rz-bubble{color:#dcdcdc!important;}
body.drk .text-dark{color:#dcdcdc!important;}
body.drk .card a:hover{text-decoration-color: #888;}
body.drk .footer{background: #232323!important;}
body.drk .page-link{color: #dcdcdc!important;border-color: #000!important;background: #242424;}